@model IEnumerable<BookBrief.DL.Models.Book>

@{
    ViewData["Title"] = "BookDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    int sonuc = Convert.ToInt16(TempData["yorum"]);
    if (sonuc == 1)
    {
        <div class="alert alert-secondary" style="background-color:#2ecc71;" role="alert">
            <p style="text-align:center;">Yorumunuz paylaşılması için onay bekliyor.</p>
        </div>
    }
}


@foreach (var item in Model)
{
    <div class="services-area2">
        <div class="container">
            <div class="row">


                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-xl-12">

                            <div class="single-services d-flex align-items-center mb-0">
                                <div class="features-img">
                                    <img src="~/images/@item.ImageUrl" alt="" style="max-height:330px;">
                                </div>
                                <div class="features-caption">
                                    <h3>@item.BookTitle</h3>
                                    <p>@item.Author</p>
                                    <p></p>

                                    <div class="review">
                                        <p>3 Yorum</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="our-client section-padding best-selling">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 col-xl-10">
                    <div class="nav-button f-left">

                        <nav>
                            <div class="nav nav-tabs " id="nav-tab" role="tablist">
                                <a class="nav-link active" id="nav-one-tab" data-bs-toggle="tab" href="#nav-one" role="tab" aria-controls="nav-one" aria-selected="true">Açıklama</a>
                                <a class="nav-link" id="nav-two-tab" data-bs-toggle="tab" href="#nav-two" role="tab" aria-controls="nav-two" aria-selected="false">Kitap Özet</a>
                                <a class="nav-link" id="nav-three-tab" data-bs-toggle="tab" href="#nav-three" role="tab" aria-controls="nav-three" aria-selected="false">Yorumlar</a>
                            </div>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade active show" id="nav-one" role="tabpanel" aria-labelledby="nav-one-tab">

                    <div class="row">
                        <div class="offset-xl-1 col-lg-9">
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-two" role="tabpanel" aria-labelledby="nav-two-tab">

                    <div class="row">
                        <div class="offset-xl-1 col-lg-9">
                            <p>@item.Summary</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-three" role="tabpanel" aria-labelledby="nav-three-tab">

                    <div class="row">
                        <div class="offset-xl-1 col-lg-9">

                            <div class="comments-area">
                                <h4>05 Comments</h4>
                                <div class="comment-list">
                                    @await Component.InvokeAsync("GetComments",@item.BookId)
                                </div>

                            </div>


                            <div class="comment-form">
                                <h4>Yorum Yap</h4>

                                <form class="form-contact comment_form" asp-action="ShareComment" method="post" id="commentForm">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <textarea class="form-control w-100" name="text" id="comment" cols="30" rows="9" placeholder="Yorumunuzu Yazınız"></textarea>
                                                <input name="bookid" value="@item.BookId" hidden>
                                            </div>
                                        </div>

                                    </div>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        if (User.IsInRole("User"))
                                        {

                                            <div class="form-group">
                                                <button type="submit" asp-action="ShareComment" asp-all-route-id="@item.BookId" class="button button-contactForm btn_1 boxed-btn">Yorum Paylaş</button>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            <button type="submit" class="button button-contactForm btn_1 boxed-btn">Yorum Yapmak İçin Giriş Yapınız!</button>
                                        </div>
                                    }



                                </form>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-four" role="tabpanel" aria-labelledby="nav-four-tab">

                    <div class="row">
                        <div class="offset-xl-1 col-lg-9">
                            <p>Beryl Cook is one of Britain’s most talented and amusing artists .Beryl’s pictures feature women of all shapes and sizes enjoying themselves .Born between the two world wars, Beryl Cook eventually left Kendrick School in Reading at the age of 15, where she went to secretarial school and then into an insurance office. After moving to London and then Hampton, she eventually married her next door neighbour from Reading, John Cook. He was an officer in the Merchant Navy and after he left the sea in 1956, they bought a pub for a year before John took a job in Southern Rhodesia with a motor company. Beryl bought their young son a box of watercolours, and when showing him how to use it, she decided that she herself quite enjoyed painting. John subsequently bought her a child’s painting set for her birthday and it was with this that she produced her first significant work, a half-length portrait of a dark-skinned lady with a vacant expression and large drooping breasts. It was aptly named ‘Hangover’ by Beryl’s husband and</p>
                            <p>It is often frustrating to attempt to plan meals that are designed for one. Despite this fact, we are seeing more and more recipe books and Internet websites that are dedicated to the act of cooking for one. Divorce and the death of spouses or grown children leaving for college are all reasons that someone accustomed to cooking for more than one would suddenly need to learn how to adjust all the cooking practices utilized before into a streamlined plan of cooking that is more efficient for one person creating less.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-five" role="tabpanel" aria-labelledby="nav-five-tab">

                    <div class="row">
                        <div class="offset-xl-1 col-lg-9">
                            <p>Beryl Cook is one of Britain’s most talented and amusing artists .Beryl’s pictures feature women of all shapes and sizes enjoying themselves .Born between the two world wars, Beryl Cook eventually left Kendrick School in Reading at the age of 15, where she went to secretarial school and then into an insurance office. After moving to London and then Hampton, she eventually married her next door neighbour from Reading, John Cook. He was an officer in the Merchant Navy and after he left the sea in 1956, they bought a pub for a year before John took a job in Southern Rhodesia with a motor company. Beryl bought their young son a box of watercolours, and when showing him how to use it, she decided that she herself quite enjoyed painting. John subsequently bought her a child’s painting set for her birthday and it was with this that she produced her first significant work, a half-length portrait of a dark-skinned lady with a vacant expression and large drooping breasts. It was aptly named ‘Hangover’ by Beryl’s husband and</p>
                            <p>It is often frustrating to attempt to plan meals that are designed for one. Despite this fact, we are seeing more and more recipe books and Internet websites that are dedicated to the act of cooking for one. Divorce and the death of spouses or grown children leaving for college are all reasons that someone accustomed to cooking for more than one would suddenly need to learn how to adjust all the cooking practices utilized before into a streamlined plan of cooking that is more efficient for one person creating less.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}







<script>
    function popupMethod() {
        swal({
            title: "Onay Bekleniyor!",
            text: "Yorumunuz paylaşılması için onay bekliyor.",
            icon: "info",
            button: "Okey",
        });
    }


</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
