@model IEnumerable<BookBrief.DL.Models.Book>
@{
    ViewData["Title"] = "Kitaplar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 ">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 row">
                    <h6 class="text-white text-capitalize ps-3 col-md-10">@ViewData["Title"]</h6>
                    <a class="btn btn-secondary col-md-2 " href="/Admin/BookCreate">Kitap Ekle</a>
                </div>

            </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Kitap Görsel</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Yazar</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Kitap Adı</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Kategori</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tarih</th>
                            <th class="text-secondary opacity-7"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div>
                                            <img src="~/images/@item.ImageUrl" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@item.Author</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">@item.BookTitle</p>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <p class="text-xs font-weight-bold mb-0">@item._Category.CategoryName</p>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">@item.Date.ToShortDateString()</span>
                                </td>
                                <td class="align-middle">
                                    <a href="~/Admin/BookDetail/@item.BookId" class="btn btn-info" data-toggle="tooltip" data-original-title="Edit user">
                                        Detay
                                    </a> &nbsp;&nbsp;
                                    <a onclick="popupMethod(@item.BookId)" class="btn btn-danger">Sil</a>
                                </td>
                            </tr>

                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function popupMethod(id) {
        swal({
            title: "Emin misiniz?",
            text: "Kategori bilgisini silmek için emin misiniz?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.replace('/Admin/BookDelete/' + id),
                        swal("Poof! Kategori Silindi!", {
                            icon: "success",
                        });
                }
            });
    }


</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
