@model IEnumerable<BookBrief.DL.Models.Category>
@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 row">
                    <h6 class="text-white text-capitalize ps-3 col-md-10">@ViewData["Title"]</h6>
                    <a class="btn btn-secondary col-md-2" href="/Admin/CategoryCreate">Kategori Ekle</a>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center justify-content-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Kategori Id</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Kategori Adı</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex px-2">
                                            <div class="my-auto">
                                                <h6 class="mb-0 text-sm">@item.Id</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">@item.CategoryName</p>
                                    </td>

                                    <td class="align-middle">
                                        <p>
                           @*                 <a class="btn btn-warning" href="~/Admin/CategoryEdit/@item.Id">Güncelle</a> &nbsp;
                                             <a onclick="popupMethod(@item.Id)" class="btn btn-danger">Sil</a>*@
                                             <a class="btn btn-link text-dark px-3 mb-0" href="~/Admin/CategoryEdit/@item.Id"><i class="material-icons text-sm me-2">edit</i>Edit</a>
                                           <a class="btn btn-link text-danger text-gradient px-3 mb-0" onclick="popupMethod(@item.Id)"><i class="material-icons text-sm me-2">delete</i>Delete</a>
                                        </p>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function popupMethod(id) {
        swal({
            title: "Emin misiniz?",
            text: "Kategori bilgisini silmek için emin misiniz?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.replace('/Admin/CategoryDelete/' + id),
                        swal("Poof! Kategori Silindi!", {
                            icon: "success",
                        });
                }
            });
    }


</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
